//todo color variables

//*** Primary Colors
$primary--1: #071d5c;
$primary--2: #0c35a8;
$primary--3: #1250fd;
$primary--4: #0c34a7;

//*** Secondary Colors

$secondary--1: #082575;
$secondary--2: #d0daf5;

// *** Teritary
$tertiary: #eef0f5;

// *** Accent Color
$accent: #fcc153;

//*** Miscelleaneous
$misc--1: #082093;
$misc--2: #ffd668;
$misc--3: #111111;
$misc--4: #212124;
$misc--5: #3734A9;
$misc--6: #262624;


// *** item WHite
$white: #ffffff;
