@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* It's just a border to show the element's size. */
  font-family: "Montserrat", sans-serif;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* input[type=number] {
  -moz-appearance: textfield;
}

@-webkit-keyframes smoothscroll1 {
  from, to {
    scroll-behavior: smooth;
  }
}

@keyframes smoothscroll1 {
  from, to {
    scroll-behavior: smooth;
  }
}
@-webkit-keyframes smoothscroll2 {
  from, to {
    scroll-behavior: smooth;
  }
}
@keyframes smoothscroll2 {
  from, to {
    scroll-behavior: smooth;
  }
}
html {
  animation: smoothscroll1 1s;
  -webkit-animation: smoothscroll1 1s;
}

html:focus-within {
  -webkit-animation-name: smoothscroll2;
          animation-name: smoothscroll2;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 4px solid #ffffff;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

.skeleton {
  position: relative;
  z-index: 100;
  overflow: hidden;
  border: none;
}

.skeleton::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: var(--display);
  z-index: 100;
  background-color: #ffffff;
  border: none;
}

.skeleton::after {
  content: "";
  position: absolute;
  display: var(--display);
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  background-image: linear-gradient(to left, transparent, #e7e7e7, transparent);
  animation: loading 1.5s infinite;
  -webkit-animation: loading 1.5s infinite;
}

@-webkit-keyframes loading {
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* It's just a border to show the element's size. */
  font-family: "Montserrat", sans-serif;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* input[type=number] {
  -moz-appearance: textfield;
}

@keyframes smoothscroll1 {
  from, to {
    scroll-behavior: smooth;
  }
}
@keyframes smoothscroll2 {
  from, to {
    scroll-behavior: smooth;
  }
}
html {
  animation: smoothscroll1 1s;
  -webkit-animation: smoothscroll1 1s;
}

html:focus-within {
  -webkit-animation-name: smoothscroll2;
          animation-name: smoothscroll2;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 4px solid #ffffff;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

.skeleton {
  position: relative;
  z-index: 100;
  overflow: hidden;
  border: none;
}

.skeleton::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: var(--display);
  z-index: 100;
  background-color: #ffffff;
  border: none;
}

.skeleton::after {
  content: "";
  position: absolute;
  display: var(--display);
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  background-image: linear-gradient(to left, transparent, #e7e7e7, transparent);
  animation: loading 1.5s infinite;
  -webkit-animation: loading 1.5s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* It's just a border to show the element's size. */
  font-family: "Montserrat", sans-serif;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* input[type=number] {
  -moz-appearance: textfield;
}

@keyframes smoothscroll1 {
  from, to {
    scroll-behavior: smooth;
  }
}
@keyframes smoothscroll2 {
  from, to {
    scroll-behavior: smooth;
  }
}
html {
  animation: smoothscroll1 1s;
  -webkit-animation: smoothscroll1 1s;
}

html:focus-within {
  -webkit-animation-name: smoothscroll2;
          animation-name: smoothscroll2;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  height: 910px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
header nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
header nav .navbar-wrapper {
  min-width: 1080px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
header nav .navbar-wrapper .navbar-logo {
  font-size: 1.313rem;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
header nav .navbar-wrapper .navbar-menu ul {
  display: flex;
  flex-direction: row;
}
header nav .navbar-wrapper .navbar-menu ul li {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: right;
  color: #ffffff;
  margin-right: 40px;
  cursor: pointer;
}
header .hero-section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 81px;
}
header .hero-section .hero-section-wrapper {
  min-width: 1080px;
  font-size: 16px;
}
header .hero-section .hero-section-wrapper h1,
header .hero-section .hero-section-wrapper p {
  color: #ffffff;
  width: 600px;
}
header .hero-section .hero-section-wrapper h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 80px;
  padding-bottom: 30px;
}
header .hero-section .hero-section-wrapper p {
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* or 162% */
  letter-spacing: 0.2px;
  padding-bottom: 60px;
}
header .hero-section .hero-section-wrapper button {
  cursor: pointer;
  padding-top: 21px;
  padding-bottom: 19px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  outline: none;
  border: none;
  position: relative;
  height: 60px;
}
header .hero-section .hero-section-wrapper button span {
  margin-left: 11.88px;
}
header .hero-section .hero-section-wrapper button::after {
  position: absolute;
  width: 40.5263157895px;
  left: 0px;
  padding-top: 42px;
  padding-bottom: 19px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid white;
  content: "";
  transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
}
header .hero-section .hero-section-wrapper button:hover::after {
  width: 154px;
}
header .have-project {
  position: absolute;
  right: 0px;
  bottom: -13.75px;
}
header .have-project-miscelleaneous {
  position: absolute;
  width: 505px;
  height: 230px;
  border: 1px solid #8c69e8;
  z-index: 0;
  bottom: 40px;
  right: 40px;
}
header .have-project-miscelleaneous .icon-circle {
  position: relative;
  height: 62px;
  width: 62px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #8c69e8;
  opacity: 60%;
  top: 18.06px;
  left: 12px;
  cursor: pointer;
}
header .have-project-wrapper {
  position: relative;
  z-index: 1;
  width: 505px;
  height: 251px;
  background-color: #fcfcff;
  top: 0px;
}
header .have-project-wrapper h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  /* identical to box height, or 142% */
  letter-spacing: 0.5px;
  color: #222222;
  padding: 62px 0px 20px 50px;
}
header .have-project-wrapper p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  letter-spacing: 0.2px;
  color: #838383;
  padding: 0px 0px 0px 50px;
}
header .have-project-wrapper .icon {
  position: absolute;
  top: 18.06px;
  left: -12px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* It's just a border to show the element's size. */
  font-family: "Montserrat", sans-serif;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* input[type=number] {
  -moz-appearance: textfield;
}

@keyframes smoothscroll1 {
  from, to {
    scroll-behavior: smooth;
  }
}
@keyframes smoothscroll2 {
  from, to {
    scroll-behavior: smooth;
  }
}
html {
  animation: smoothscroll1 1s;
  -webkit-animation: smoothscroll1 1s;
}

html:focus-within {
  -webkit-animation-name: smoothscroll2;
          animation-name: smoothscroll2;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 4px solid #ffffff;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

.skeleton {
  position: relative;
  z-index: 100;
  overflow: hidden;
  border: none;
}

.skeleton::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: var(--display);
  z-index: 100;
  background-color: #ffffff;
  border: none;
}

.skeleton::after {
  content: "";
  position: absolute;
  display: var(--display);
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  background-image: linear-gradient(to left, transparent, #e7e7e7, transparent);
  animation: loading 1.5s infinite;
  -webkit-animation: loading 1.5s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* It's just a border to show the element's size. */
  font-family: "Montserrat", sans-serif;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* input[type=number] {
  -moz-appearance: textfield;
}

@keyframes smoothscroll1 {
  from, to {
    scroll-behavior: smooth;
  }
}
@keyframes smoothscroll2 {
  from, to {
    scroll-behavior: smooth;
  }
}
html {
  animation: smoothscroll1 1s;
  -webkit-animation: smoothscroll1 1s;
}

html:focus-within {
  -webkit-animation-name: smoothscroll2;
          animation-name: smoothscroll2;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.client {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 79px;
  padding-bottom: 100px;
  width: 100%;
}
.client-wrapper {
  display: flex;
  flex-direction: row;
  min-width: 927px;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* It's just a border to show the element's size. */
  font-family: "Montserrat", sans-serif;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* input[type=number] {
  -moz-appearance: textfield;
}

@keyframes smoothscroll1 {
  from, to {
    scroll-behavior: smooth;
  }
}
@keyframes smoothscroll2 {
  from, to {
    scroll-behavior: smooth;
  }
}
html {
  animation: smoothscroll1 1s;
  -webkit-animation: smoothscroll1 1s;
}

html:focus-within {
  -webkit-animation-name: smoothscroll2;
          animation-name: smoothscroll2;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 4px solid #ffffff;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

.skeleton {
  position: relative;
  z-index: 100;
  overflow: hidden;
  border: none;
}

.skeleton::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: var(--display);
  z-index: 100;
  background-color: #ffffff;
  border: none;
}

.skeleton::after {
  content: "";
  position: absolute;
  display: var(--display);
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  background-image: linear-gradient(to left, transparent, #e7e7e7, transparent);
  animation: loading 1.5s infinite;
  -webkit-animation: loading 1.5s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* It's just a border to show the element's size. */
  font-family: "Montserrat", sans-serif;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* input[type=number] {
  -moz-appearance: textfield;
}

@keyframes smoothscroll1 {
  from, to {
    scroll-behavior: smooth;
  }
}
@keyframes smoothscroll2 {
  from, to {
    scroll-behavior: smooth;
  }
}
html {
  animation: smoothscroll1 1s;
  -webkit-animation: smoothscroll1 1s;
}

html:focus-within {
  -webkit-animation-name: smoothscroll2;
          animation-name: smoothscroll2;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.service {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 99.5px;
  width: 100%;
}
.service .services-wrapper {
  width: 1170px;
}
.service .services-wrapper .services-wrapper-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 16px;
  justify-content: space-between;
  padding: 0px 70px 60px 70px;
}
.service .services-wrapper .services-wrapper-header h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 50px;
  letter-spacing: 0.3px;
  color: #7658c9;
  width: 400px;
}
.service .services-wrapper .services-wrapper-header p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  letter-spacing: 0.2px;
  width: 500px;
  color: #838383;
}
.service .services-wrapper .services-wrapper-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.service .services-wrapper .services-wrapper-body .card {
  width: 370px;
  height: 307px;
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
}
.service .services-wrapper .services-wrapper-body .card .card-icon {
  background: #7658c9;
  mix-blend-mode: normal;
  opacity: 0.1;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 15px;
}
.service .services-wrapper .services-wrapper-body .card h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 34px;
  /* identical to box height, or 142% */
  letter-spacing: 0.5px;
  color: #222222;
  margin-bottom: 15px;
}
.service .services-wrapper .services-wrapper-body .card p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* or 162% */
  letter-spacing: 0.2px;
  color: #838383;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* It's just a border to show the element's size. */
  font-family: "Montserrat", sans-serif;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* input[type=number] {
  -moz-appearance: textfield;
}

@keyframes smoothscroll1 {
  from, to {
    scroll-behavior: smooth;
  }
}
@keyframes smoothscroll2 {
  from, to {
    scroll-behavior: smooth;
  }
}
html {
  animation: smoothscroll1 1s;
  -webkit-animation: smoothscroll1 1s;
}

html:focus-within {
  -webkit-animation-name: smoothscroll2;
          animation-name: smoothscroll2;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 4px solid #ffffff;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

.skeleton {
  position: relative;
  z-index: 100;
  overflow: hidden;
  border: none;
}

.skeleton::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: var(--display);
  z-index: 100;
  background-color: #ffffff;
  border: none;
}

.skeleton::after {
  content: "";
  position: absolute;
  display: var(--display);
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  background-image: linear-gradient(to left, transparent, #e7e7e7, transparent);
  animation: loading 1.5s infinite;
  -webkit-animation: loading 1.5s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* It's just a border to show the element's size. */
  font-family: "Montserrat", sans-serif;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* input[type=number] {
  -moz-appearance: textfield;
}

@keyframes smoothscroll1 {
  from, to {
    scroll-behavior: smooth;
  }
}
@keyframes smoothscroll2 {
  from, to {
    scroll-behavior: smooth;
  }
}
html {
  animation: smoothscroll1 1s;
  -webkit-animation: smoothscroll1 1s;
}

html:focus-within {
  -webkit-animation-name: smoothscroll2;
          animation-name: smoothscroll2;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.aboutus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 150.5px;
  width: 100%;
}
.aboutus .aboutus-wrapper {
  width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.aboutus .aboutus-wrapper .left {
  width: 501px;
  height: 551px;
  position: relative;
}
.aboutus .aboutus-wrapper .left .miscelleanous {
  position: absolute;
  width: 289px;
  height: 230px;
  mix-blend-mode: normal;
  opacity: 0.4;
  border: 1px solid #8c69e8;
  transform: matrix(0, 1, 1, 0, 0, 0);
  top: 28px;
  left: -30px;
  -webkit-transform: matrix(0, 1, 1, 0, 0, 0);
  -moz-transform: matrix(0, 1, 1, 0, 0, 0);
  -ms-transform: matrix(0, 1, 1, 0, 0, 0);
  -o-transform: matrix(0, 1, 1, 0, 0, 0);
}
.aboutus .aboutus-wrapper .left .miscelleanous .icons {
  position: absolute;
  top: 40px;
  right: -29px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #8c69e8;
  transform: matrix(0, 1, 1, 0, 0, 0);
  -webkit-transform: matrix(0, 1, 1, 0, 0, 0);
  -moz-transform: matrix(0, 1, 1, 0, 0, 0);
  -ms-transform: matrix(0, 1, 1, 0, 0, 0);
  -o-transform: matrix(0, 1, 1, 0, 0, 0);
}
.aboutus .aboutus-wrapper .left img {
  width: 430px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 70px;
  margin-top: 50px;
  position: absolute;
}
.aboutus .aboutus-wrapper .left .icon {
  position: absolute;
  bottom: 250px;
  left: 56px;
}
.aboutus .aboutus-wrapper .right {
  width: 500px;
  display: flex;
  flex-direction: column;
}
.aboutus .aboutus-wrapper .right h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 50px;
  /* or 139% */
  letter-spacing: 0.3px;
  color: #7658c9;
  margin-bottom: 20px;
}
.aboutus .aboutus-wrapper .right p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  /* or 162% */
  letter-spacing: 0.2px;
  color: #838383;
  margin-bottom: 50px;
}
.aboutus .aboutus-wrapper .right .progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 405px;
}
.aboutus .aboutus-wrapper .right .progress .tasks {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 45px;
  /* identical to box height, or 125% */
  text-align: center;
  letter-spacing: 0.3px;
  display: flex;
  flex-direction: column;
}
.aboutus .aboutus-wrapper .right .progress .tasks span:nth-child(1) {
  font-size: 2.25rem;
  color: #00cef9;
  text-align: left;
}
.aboutus .aboutus-wrapper .right .progress .tasks span:nth-child(2) {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  letter-spacing: 0.2px;
  color: #838383;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* It's just a border to show the element's size. */
  font-family: "Montserrat", sans-serif;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* input[type=number] {
  -moz-appearance: textfield;
}

@keyframes smoothscroll1 {
  from, to {
    scroll-behavior: smooth;
  }
}
@keyframes smoothscroll2 {
  from, to {
    scroll-behavior: smooth;
  }
}
html {
  animation: smoothscroll1 1s;
  -webkit-animation: smoothscroll1 1s;
}

html:focus-within {
  -webkit-animation-name: smoothscroll2;
          animation-name: smoothscroll2;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 4px solid #ffffff;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

.skeleton {
  position: relative;
  z-index: 100;
  overflow: hidden;
  border: none;
}

.skeleton::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: var(--display);
  z-index: 100;
  background-color: #ffffff;
  border: none;
}

.skeleton::after {
  content: "";
  position: absolute;
  display: var(--display);
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  background-image: linear-gradient(to left, transparent, #e7e7e7, transparent);
  animation: loading 1.5s infinite;
  -webkit-animation: loading 1.5s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* It's just a border to show the element's size. */
  font-family: "Montserrat", sans-serif;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* input[type=number] {
  -moz-appearance: textfield;
}

@keyframes smoothscroll1 {
  from, to {
    scroll-behavior: smooth;
  }
}
@keyframes smoothscroll2 {
  from, to {
    scroll-behavior: smooth;
  }
}
html {
  animation: smoothscroll1 1s;
  -webkit-animation: smoothscroll1 1s;
}

html:focus-within {
  -webkit-animation-name: smoothscroll2;
          animation-name: smoothscroll2;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 150px;
}
.project .project-wrapper {
  width: 1030px;
}
.project .project-wrapper .project-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.project .project-wrapper .project-body .card {
  margin-bottom: 60px;
  background-color: #ffffff;
  position: relative;
  width: 500px;
  height: 532px;
}
.project .project-wrapper .project-body .card .card-bg {
  width: 100%;
  height: 345px;
  -o-object-fit: cover;
     object-fit: cover;
}
.project .project-wrapper .project-body .card .profile {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 140px;
  right: 40px;
}
.project .project-wrapper .project-body .card .profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 6px solid #ffffff;
}
.project .project-wrapper .project-body .card .card-content {
  padding-left: 20px;
  padding-right: 20px;
}
.project .project-wrapper .project-body .card .card-content h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 34px;
  padding-top: 40px;
  padding-bottom: 15px;
  letter-spacing: 0.5px;
  color: #222222;
}
.project .project-wrapper .project-body .card .card-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #838383;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* It's just a border to show the element's size. */
  font-family: "Montserrat", sans-serif;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* input[type=number] {
  -moz-appearance: textfield;
}

@keyframes smoothscroll1 {
  from, to {
    scroll-behavior: smooth;
  }
}
@keyframes smoothscroll2 {
  from, to {
    scroll-behavior: smooth;
  }
}
html {
  animation: smoothscroll1 1s;
  -webkit-animation: smoothscroll1 1s;
}

html:focus-within {
  -webkit-animation-name: smoothscroll2;
          animation-name: smoothscroll2;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 4px solid #ffffff;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

.skeleton {
  position: relative;
  z-index: 100;
  overflow: hidden;
  border: none;
}

.skeleton::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: var(--display);
  z-index: 100;
  background-color: #ffffff;
  border: none;
}

.skeleton::after {
  content: "";
  position: absolute;
  display: var(--display);
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  background-image: linear-gradient(to left, transparent, #e7e7e7, transparent);
  animation: loading 1.5s infinite;
  -webkit-animation: loading 1.5s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* It's just a border to show the element's size. */
  font-family: "Montserrat", sans-serif;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* input[type=number] {
  -moz-appearance: textfield;
}

@keyframes smoothscroll1 {
  from, to {
    scroll-behavior: smooth;
  }
}
@keyframes smoothscroll2 {
  from, to {
    scroll-behavior: smooth;
  }
}
html {
  animation: smoothscroll1 1s;
  -webkit-animation: smoothscroll1 1s;
}

html:focus-within {
  -webkit-animation-name: smoothscroll2;
          animation-name: smoothscroll2;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.team {
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}
.team .team-wrapper {
  width: 1030px;
}
.team .team-wrapper .team-body .carousel .carouselCard {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  scroll-padding: 0 50%;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  /* width */
  /* Track */
  /* Handle */
}
.team .team-wrapper .team-body .carousel .carouselCard:hover {
  /* Handle */
}
.team .team-wrapper .team-body .carousel .carouselCard:hover::-webkit-scrollbar-track {
  background-color: #b9a0ff;
}
.team .team-wrapper .team-body .carousel .carouselCard:hover::-webkit-scrollbar-thumb {
  background: #7658c9;
}
.team .team-wrapper .team-body .carousel .carouselCard::-webkit-scrollbar {
  width: 20px;
}
.team .team-wrapper .team-body .carousel .carouselCard::-webkit-scrollbar-track {
  background-color: transparent;
  transition: all 5s ease-in-out;
  -webkit-transition: all 5s ease-in-out;
  -moz-transition: all 5s ease-in-out;
  -ms-transition: all 5s ease-in-out;
  -o-transition: all 5s ease-in-out;
}
.team .team-wrapper .team-body .carousel .carouselCard::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition: all 5s ease-in-out;
  -webkit-transition: all 5s ease-in-out;
  -moz-transition: all 5s ease-in-out;
  -ms-transition: all 5s ease-in-out;
  -o-transition: all 5s ease-in-out;
}
.team .team-wrapper .team-body .carousel .carouselCard section {
  scroll-snap-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.team .team-wrapper .team-body .carousel .carouselCard section .carauselcards-card {
  margin-right: 30px;
  cursor: pointer;
  width: 323px;
  height: 384px;
  position: relative;
}
.team .team-wrapper .team-body .carousel .carouselCard section .carauselcards-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team .team-wrapper .team-body .carousel .carouselCard section .carauselcards-card:hover .title {
  visibility: visible;
  opacity: 1;
}
.team .team-wrapper .team-body .carousel .carouselCard section .carauselcards-card .title {
  background-color: rgba(51, 0, 191, 0.5);
  -webkit-backdrop-filter: blur(13.5914px);
          backdrop-filter: blur(13.5914px);
  visibility: hidden;
  opacity: 0;
  width: 323px;
  height: 384px;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.team .team-wrapper .team-body .carousel .carouselCard section .carauselcards-card .title .title-wrapper {
  width: 100%;
  padding: 20px;
}
.team .team-wrapper .team-body .carousel .carouselCard section .carauselcards-card .title .title-wrapper h3 {
  margin-top: 235px;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  /* identical to box height, or 142% */
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-bottom: 10px;
}
.team .team-wrapper .team-body .carousel .carouselCard section .carauselcards-card .title .title-wrapper p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.team .team-wrapper .team-body .carousel .caraousel-count {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.team .team-wrapper .team-body .carousel .caraousel-count .item {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #b9a0ff;
  mix-blend-mode: normal;
  opacity: 0.4;
  margin-left: 5px;
}
.team .team-wrapper .team-body .carousel .caraousel-count .item-active {
  opacity: 1;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #6c57a6;
  mix-blend-mode: normal;
}

.App {
  background: #fcfcff;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 16px;
  justify-content: space-between;
  padding: 0px 0px 60px 0px;
}
.title h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 50px;
  letter-spacing: 0.3px;
  color: #7658c9;
  width: 400px;
}
.title p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  letter-spacing: 0.2px;
  width: 500px;
  color: #838383;
}/*# sourceMappingURL=App.css.map */