@import "../abstracts/abstract__helpers";
@import "../base/base__helpers";

.testimonials {
  @include flex-row;
  padding-bottom: 150px;
  justify-content: center;
  .testimonials-wrapper {
    width: 992px;
    .testimonials-header {
      display: flex;
      flex-direction: column !important;
      justify-content: center;
      width: 100%;
      padding-bottom: 70px;
      align-items: center;
      h2 {
        margin-bottom: 20px;
      }
      h2,
      p {
        text-align: center;
      }
    }
    .testimonials-body {
        @include flex-row;
        justify-content: space-between;
        align-items: center;
      .line{
        width: 1px;
        height: 258px;
        background-color: #838383;
        mix-blend-mode: normal;
opacity: 0.3;
border: 1px solid #979797;
      }
      .card {
        width: 431px;
        height: 288px;
        .card-header {
          @include flex-row;

          align-items: center;

          img {
            width: 131px;
            height: 128px;
            object-fit: cover;
            margin-right: 30px;
          }
          .card-header-title {
            h3 {
              font-style: normal;
              font-weight: 600;
              font-size: 1.5rem;
              line-height: 34px;
              letter-spacing: 0.5px;

              color: #222222;
              margin-bottom: 10px;
            }
            p {
              font-style: normal;
              font-weight: 400;
              font-size: 1rem;
              line-height: 26px;
              margin-bottom: 20px;
              letter-spacing: 0.2px;

              color: #838383;
            }
            .reviews {
              @include flex-row;
              justify-content: space-between;
              align-items: center;
              width: 109px;
            }
          }
        }
        .card-body {
          padding-top: 30px;
          p {
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 26px;
            /* or 162% */

            letter-spacing: 0.2px;

            color: #838383;
          }
        }
      }
    }
  }
}
